<ion-content>
  <app-darkmode></app-darkmode>
  <app-company-navbar></app-company-navbar>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <app-company-sidebar></app-company-sidebar>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="height: 95.2vh;">
        <!-- Add employee -->
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary" expand="block">Agregar
                empleado</button>
              <button type=" button" class="btn btn-sm btn-outline-secondary">Link de
                invitación</button>
            </div>
            <button type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
              <i class="bi-calendar3"></i>
              This week
            </button>
          </div>
        </div>

        <h2>Crea un nuevo blog</h2>
        <div>
          <quill-editor [(ngModel)]="blogContent"></quill-editor>
          <pre>{{ blogContent }}</pre>
          <div [innerHTML]="sanitizeHtml(blogContent)"></div>
        </div>
        <button (click)="createBlog()">Crear Blog</button>
        <div>
        </div>
      </main>
    </div>
  </div>

</ion-content>